.c-form {}

.c-form__row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.76388em;
    position: relative;
}

.c-form__label {
    font-family: $catamaran;
    @include font-size(18px, 1.2222);
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--gray-2);
}

.c-form__field{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 3.0625em;
    margin-bottom: 1.9375em;
    width: 100%;
    color: var(--white-secondary);
    // padding: 0 1em;
}

input[type="number"].c-form__field{
    text-align: center;
}

::-webkit-calendar-picker-indicator {
    font-size: 1.5em;
    color: var(--gray-2);
    filter: invert(1);
    opacity:0;
}

.c-form__icon{
    position: absolute;
    top: 2.9375em;
    right: 1.125em;
}

.c-form__number-plus{
    position: absolute;
    cursor: pointer;
    right: 1.25em;
    top: 3.125em;
}

.c-form__number-minus{
    position: absolute;
    cursor: pointer;
    left: 1.25em;
    top: 2.9375em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}