body,
html {
  font-family: $robotoSlab;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #000;
  background: #000000;
}
.main {
  background-color: #000000;
}