$white: #fff;
$primery: #D14800;
$secondary: #404040;


:root {
    --white: #FFFFFF;
    --brown: #181110;
    --brown-light: #8D8D8D;
    --orange: #D14800;
    --gray: #A3A3A3;
    --gray-secondary: #262626;
}