$white: #fff;
$primery: #D14800;
$secondary: #404040;


:root {
    --white: #FFFFFF;
    --white-secondary: #FFFCFC;
    --brown: #181110;
    --brown-light: #8D8D8D;
    --brown-light-secondary: #DADADA;
    --orange: #D14800;
    --gray: #A3A3A3;
    --gray-secondary: #262626;
    --gray-2: #909090;
}