.o-section {
  padding: 2em 0;
  @include mq(desktop) {
    padding: 2em 0;
  }
}
.o-section__wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

  @include mq(md){
    padding: 0 2.125em;
  }

  @include mq(lg) {
    max-width: calc(1190px - 2em);
  }
}
